
body, p {
    margin: 0;
    padding: 0;
}

body {
    //overflow: hidden;
}

.shrink-local-video {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 90px;
    width: 140px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.7s ease;
}

.router-link-active {
    background-color: #c7edfc;

    .chat-item-img-container > .indicator {
        border-color: #c7edfc !important;
      }
}

.online-indicator {
    font-size: 0.8em;
}

.is-online {
    color: rgb(31, 170, 31);
}
.not-online {
    color: rgb(110, 109, 109);
}

.form-control:focus, .btn:focus {
    border-color: none;
    box-shadow: none;
}

.btn:after {
    content: none;
}

.column {
    display: flex;
    flex-direction: column;
}

.indicator {
    display: flex;
    position: absolute;
    border-radius: 50%;
}

.navigation-item-action-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;

    .btn {
        display: flex;
        align-items: center;
        height: 28px;
        padding: 0 10px;
        background-color: #fff;
        border-radius: 14px;
        box-shadow: 0 0px 2px rgba($color: #000000, $alpha: 0.4);

        .icon {
            margin: auto 0;
            font-size: 1.2em;
            color:rgb(78, 76, 76)
        }

        .text {
            margin: auto 0;
            margin: 0 5px;
            font-size: 0.7em;
        }
    }
}

.navigation-item-header-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  
    .header-btn {
      padding: 0;
      color: rgb(100, 99, 99);
  
      .text {
        font-size: 0.73em;
        font-weight: 600;
      }
    }
}

.user-img-container {
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 50%;

    .contact-img {
      max-width: 100%;
      border-radius: 50%;
    }

    .initials {
      margin: auto;
      font-size: 0.7em;
      font-weight: 600;
      color: blue;
    }

    .indicator {
      right: 0;
      bottom: 0;
      height: 13px;
      width: 13px;
      border: 2px solid #f1f1f4;
      background-color: green;
    }
}

.scroll-container {
    overflow-x: hidden;
    overflow-y: auto;
}